h3 {
    color: #a088df; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-size: x-large;
}
p {
    font-family: 'Arial', sans-serif; 
    font-size: medium; 
    color: #ffffff;
}